<h2>Do you really want to delete all books!</h2>

<div class="row" style="margin: 50px 0; text-align: center">

    <form action="/books/delete/all/?_method=DELETE" method="POST">
        <button type="submit" style="background-color: #e5383b; display: inline-block; width: 20%;">Yes!</button>
    </form>
    <a class="button" style="background-color: #adc178; display: inline-block; width: 20%;" href="/books">no!</a>

</div>